{% extends 'aquaparks_app/base.html' %}

{% block content %}
  <!--  AJOUTER UN AGENT  -->
  <form class="card card-olive" method="post" >
    {% csrf_token %}
      <div class="card-header">
      <h3 class="card-title">Ajouter un agent</h3>
      <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
          </button>
          
      </div>
      </div>
      <!-- /.card-header -->

      <div class="card-body">
          <div class="row">
              <div class="col-6">
                  <div class="form-group">
                      <label for="{{form_a.matricule.id_for_label}}">Matricule</label>
                      {{form_a.matricule}}
                  </div>
                  <!-- /.form-group -->  
              </div>
              <!-- /.col -->
              <div class="col-6">
                <div class="form-group">
                    <label for="{{form_a.CIN.id_for_label}}">CIN</label>
                    {{form_a.CIN}}
                </div>
                <!-- /.form-group -->  
            </div>
            <!-- /.col --> 
          </div>
          <!-- /.row -->
          <div class="row">
              <div class="col-6">
                  <div class="form-group">
                      <label for="{{form_a.nom.id_for_label}}">Nom</label>
                      {{form_a.nom}}
                  </div>
                  <!-- /.form-group -->  
              </div>
              <!-- /.col --> 

              <div class="col-6">
                  <div class="form-group">
                      <label for="{{form_a.prenom.id_for_label}}">Prenom</label>
                      {{form_a.prenom}}
                  </div>
                  <!-- /.form-group -->  
              </div>
              <!-- /.col --> 
          </div>
          <!-- /.row -->

          <div class="row">
              <div class="col-6">
                  <div class="form-group">
                      <label for="{{form_a.datenaissance.id_for_label}}">Date de naissance</label>
                      {{form_a.datenaissance}}
                  </div>
                  <!-- /.form-group -->  
              </div>
              <!-- /.col --> 

              <div class="col-6">
                  <div class="form-group">
                      <label for="{{form_a.categorie.id_for_label}}">Categorie</label>
                      {{form_a.categorie}}
                  </div> 
                  <!-- /.form-group -->                   
              </div>
              
          </div>
          <!-- /.row -->
          <div class="row">
              <div class="col-6">
                  <div class="form-group">
                      <label for="{{form_a.email.id_for_label}}">Email</label>
                      {{form_a.email}}
                  </div>
                  <!-- /.form-group -->  
              </div>
              <!-- /.col --> 

              <div class="col-6">
                  <div class="form-group">
                      <label for="{{form_a.telephone.id_for_label}}">Telephone</label>
                      {{form_a.telephone}}
                  </div> 
                  <!-- /.form-group -->                   
              </div>
              
          </div>
          <!-- /.row -->
          
          <div class="row">
              <div class="col-6">
                  <div class="form-group" >
                      <label for="{{form_a.sexe.id_for_label}}">Sexe</label>
                      {{form_a.sexe}}
                      
                  </div>
              </div>
              
              <!-- /.col --> 
              <div class="col-6">
                  <div class="form-group">
                      <label for="{{form_a.adulte_enfant.id_for_label}}">Adulte/Enfant</label>
                      {{form_a.adulte_enfant}}
                      
                  </div>
              </div>
              <!-- /.col -->
          </div>

          <!-- /.row -->
          
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        <button type="submit" class="btn btn-success" name="submit_a">Ajouter</button>
    </div>
    <!-- /.footer -->
      
  </form>

  <!--  AJOUTER DES CONJOINTES -->
  <form class="card card-olive" method="post" >
    {% csrf_token %}
      <div class="card-header">
      <h3 class="card-title">Ajouter un(e) conjoint (e)</h3>
      <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
          </button>
          
      </div>
      </div>
      <!-- /.card-header -->

      <div class="card-body">
        
          <div class="row" >
                <div class="col-6">
                    <div class="form-group">
                        <label for="{{form_c.nom.id_for_label}}">Nom</label>
                            {{form_c.nom}}
                    </div>
                                  
                    <!-- /.form-group -->  
                </div>
                <!-- /.col --> 
  
                <div class="col-6">
                    <div class="form-group">
                        <label for="{{form_c.prenom.id_for_label}}">Prenom</label>
                        {{form_c.prenom}}
                    </div>
                    
                    <!-- /.form-group -->  
                </div>
                <!-- /.col --> 
            </div>
            <!-- /.row -->
            <div class="row" >
                <div class="col-6">
                    <div class="form-group">
                        <label for="{{form_c.CIN.id_for_label}}">CIN</label>
                        {{form_c.CIN}}
                    </div>  
                    <!-- /.form-group -->  
                </div>
                <!-- /.col --> 
                <div class="col-6">
                    <label for="{{form_c.datenaissance.id_for_label}}">Date de naissance</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        {{form_c.datenaissance}}
                    </div>
            </div>
            <!-- /.row -->
            </div>
            
            <div class="row" >
                <div class="col-6">
                    <div class="form-group">
                        <label for="{{form_c.sexe.id_for_label}}">Sexe</label>
                        {{form_c.sexe}}
                    </div>
                 
                </div>
                
                <!-- /.col --> 
                <div class="col-6">
                    <div class="form-group">
                        <label for="{{form_c.adulte_enfant.id_for_label}}">Adulte/Enfant</label>
                        {{form_c.adulte_enfant}}
                    </div>
                  
                </div>
                <!-- /.col -->
            </div>
          <!-- /.row -->
          
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        <button type="submit" class="btn btn-success" name="submit_c">Ajouter</button>
    </div>
    <!-- /.footer -->
      
  </form>

  <!--  AJOUTER DES ENFANTS  -->
  <form class="card card-olive" method="post" >
    {% csrf_token %}
      <div class="card-header">
      <h3 class="card-title">Ajouter un enfant</h3>
      <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
          </button>
          
      </div>
      </div>
      <!-- /.card-header -->

      <div class="card-body">
          <div class="row">
              <div class="col-6">
                  <div class="form-group">
                      <label for="{{form_e.nom.id_for_label}}">Nom</label>
                      {{form_e.nom}}
                  </div>
                  <!-- /.form-group -->  
              </div>
              <!-- /.col --> 

              <div class="col-6">
                  <div class="form-group">
                      <label for="{{form_e.prenom.id_for_label}}">Prenom</label>
                      {{form_e.prenom}}
                  </div>
                  <!-- /.form-group -->  
              </div>
              <!-- /.col --> 
          </div>
          <!-- /.row -->
          <div class="row">

            <div class="col-6">
                <div class="form-group">
                    <label for="{{form_e.CIN.id_for_label}}">CIN</label>
                    {{form_e.CIN}}
                </div>
                <!-- /.form-group -->  
            </div>
            <!-- /.col --> 
            <div class="col-6">
                <label for="{{form_e.datenaissance.id_for_label}}">Date de naissance</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                    {{form_e.datenaissance}}
                </div>
                  <!-- /.form-group -->  
              </div>
              <!-- /.col -->
        </div>
        <!-- /.row -->


          
          <div class="row">
              <div class="col-6">
                  <div class="form-group">
                      <label for="{{form_e.sexe.id_for_label}}">Sexe</label>
                      {{form_e.sexe}}
                      
                  </div>
              </div>
              
              <!-- /.col --> 
              <div class="col-6">
                  <div class="form-group">
                      <label for="{{form_e.adulte_enfant.id_for_label}}">Adulte/Enfant</label>
                      {{form_e.adulte_enfant}}
                      
                  </div>
              </div>
              <!-- /.col -->
          </div>
          <!-- /.row -->
          
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        <button type="submit" class="btn btn-success" name="submit_e">Ajouter</button>
    </div>
    <!-- /.footer -->
      
  </form>

{% endblock content %}